VISIT_SCHED_PATH=CHANGE_ME
USER_CHAT_PATH=CHANGE_ME
VISIT_MANAGER_PATH=CHANGE_ME
FRONTEND_PATH=CHANGE_ME
ES_HOST="http://localhost:9200/"
ES_LOGIN="elastic"
ES_PASS="abc"
UVICORN_WORKERS=8
FIRESTORE_PROJECT_ID=dummy-project-id
FIRESTORE_EMULATOR_PORT=8200
FIRESTORE_EMULATOR_HOST=firestore_emulator
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="abc"
POSTGRES_HOST="postgres"
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_URL="broker:9092"
KAFKA_TOPIC="test_topic"
KAFKA_AUTHENTICATION_SCHEME="none"
KAFKA_HOST="broker"
STRIPE_API_KEY=CHANGE_ME
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
SECRET_KEY=<your-secret-key>
REDIRECT_URL=<your-redirect-url>
JWT_SECRET_KEY=<your-secret-key>
FRONTEND_URL=<your-frontend-url>