terraform {
  required_providers {
    google = {
      source = "hashicorp/google"
      version = "~> 6.8"
    }

    http = {
      source = "hashicorp/http"
      version = "~> 3.4"
    }

    cloudinit = {
      source = "hashicorp/cloudinit"
      version = "~> 2.3"
    }
  }

  backend "gcs" {
    bucket = "{{gcp_state_bucket}}"
  }
}

provider "google" {
  project = "{{gcp_project}}"
  region  = "{{gcp_region}}"
}
